* {
    font-family: monospace;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}


input[type=text] {
    border: 0px solid;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
}

.TwoCharacterHexValueEditView {
    max-width: 2em;
    display: inline-block;
}

.ChannelNameEditView {
    max-width: 8em;
}

.ChannelNameView {
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25em;
}

.PatternNameView {
    padding-left: .5em;
    display: inline-block;
}

.PatternNameEditView {
    display: inline-block;
}

.PatternSizeView {
    display: inline-block;
    float: right;
    padding-right: .5em;
}

.PatternSizeEditView {
    display: inline-block;
}

.ChannelControlsView {
    padding: .2em;
}

.ChannelIndexView {
    padding-left: .5em;
    display: inline-block;
    font-size: smaller;
}

.ChannelGainView {
    display: inline-block;
}

.ChannelPanView {
    display: inline-block;
}

.ChannelMonitorView {
    border: 1px solid red;
    height: .75em;
}

.ChannelView {
    border: 1px solid;
    padding: .5em;
    width: 7.5em;
    display: inline-block;
}

.PatternView {
    display: table-cell;
    border: 1px solid;
    overflow: auto;
}

.SongView {
}

.InstrumentSelectView {
    vertical-align: top;
    display: table-cell;
    padding: .25em;
    border: 2px solid;
    border-top: 4px solid;
    min-width: 10em;
}

.InstrumentSelectNameView {
    width: 10em;
}

.SongPatternEditSelectView {
    vertical-align: top;
    display: table-cell;
    padding: .25em;
    border: 2px solid;
    border-top: 4px solid;
    overflow: auto;
}

.SongPatternEditNameSelectorView {
    padding: .25em;
    width: 12em;
    border: 1px solid;
}

.SongPatternEditSelectNameView {
    padding: .1em;
}

.SongPatternEditSelectNameSelectedView {
    background-color: orange;
    border-bottom: 1px solid;
}

.SongPatternEditSelectButtonsView {
    float: right;
}

.SongPatternIndexView {
    padding-top: .25em;
    display: inline-block;
    font-size: smaller;
}

.PatternView {
    width: 100%;
}

.PatternEditView {
    overflow: auto;
    overflow-y: hidden;
    border: 1px solid;
}

.PatternModeLineView {
    border: 2px solid;
}

.TinyButton {
    font-family: FontAwesome;
    font-size: x-small;
    font-weight: bold;
    padding-right: .25em;
    padding-left: .2em;
    text-align: center;
    display: inline-block;
}

.Button {
    padding-right: .5em;
    padding-left: .5em;
    text-align: center;
    display: inline-block;
}

.ButtonEnabled {
    background-color: red;
}

.ButtonDisabled {
    background-color: transparent;
}

.ChannelSelected {
    background-color: orange;
}

.ChannelControlsView {
    text-align: center;
}

.ChannelTitleView {
    border: 1px solid;
}

.ChannelLeftButton:before {
    content: "\f060";
}

.ChannelRightButton:before {
    content: "\f061";
}

.ChannelAddButton:before {
    content: "\f067";
}

.ChannelCopyButton:before {
    content: "\f0c5";
}

.ChannelCloseButton:before {
    content: "\f00d";
}

.ChannelCloseButton {
    padding-left:  1em;
    padding-right:  .3em;
}

.NoteViewHighlight {
    background-color: lightblue;
}

.NoteViewSelected {
    background-color: green;
}

.PatternUpButton:before {
    content: "\f062";
}

.PatternDownButton:before {
    content: "\f063";
}

.PatternAddButton:before {
    content: "\f067";
}

.PatternCopyButton:before {
    content: "\f0c5";
}

.PatternLinkButton:before {
    content: "\f0c1";
}

.PatternCloseButton:before {
    content: "\f00d";
    padding-left: .5em;
}

.PatternPlayButton:before {
    content: "\f04b";
}

.PatternLoopButton:before {
    content: "\f1ce";
}

.NotePitchView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteFxView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteArgView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteInstrumentView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.MinibufferEditorView {
    background-color: transparent;
    width: 100%;
}

.MinibufferView {
    border: 2px solid;
}

.SongControlsView {
    padding: .25em;
    display: inline-block;
}

.SongControlsEditView {
    padding: .25em;
    padding-right: .5em;
    display: inline-block;
    border-right: 1px solid;
}

.SongControlsTitleEditView {
    padding: .25em;
    padding-right: .5em;
    display: inline-block;
}

.SongControlsView {
}

.ToolsView {
    padding: .25em;
    border: 2px solid;
}

.ToolsButtonView {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    border-right: 1px solid;
}

.ToolsButtonsView {
    padding-top: .5em;
    display: inline-block;
}

.ToolsButtonSelected {
    background-color: orange;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.ToolsAreaView {
    padding: .5em;
    height: 25em;
}

.ToolsSamplerView {
    display: table;
}

.ToolsSamplerSampleListView {
    display: table-cell;
    border: 4px solid;
    height: 23.5em;
    width: 12em;
    padding: .5em;
}

.ToolsSamplerSampleView {
    display: table-cell;
    height: 25em;
    width: 50em;
    padding: .5em;
}

.InstrumentSelected {
    background-color: orange;
    border-bottom: 1px solid;
}


.AppView {
    margin: auto;
    border: 4px solid;
    border-radius: 8px 8px;
}


