* {
    font-family: monospace;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}


input[type=text] {
    border: 0px solid;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
}

.TwoCharacterHexValueEditView {
    max-width: 2em;
    display: inline-block;
}

.ChannelNameEditView {
    max-width: 8em;
}

.ChannelNameView {
    text-align: center;
}

.PatternNameView {
    padding-left: 1em;
    display: inline-block;
}

.PatternNameEditView {
    display: inline-block;
}

.PatternSizeView {
    display: inline-block;
    float: right;
    padding-right: 1em;
}

.PatternSizeEditView {
    display: inline-block;
}

.ChannelControlsView {
    padding: .2em;
}
.ChannelGainView {
    display: inline;
}

.ChannelPanView {
    display: inline;
}

.ChannelMonitorView {
    border: 1px solid red;
    height: .75em;
}

.ChannelView {
    border: 1px solid;
    padding: .5em;
    width: 7.5em;
    display: inline-block;
}

.PatternView {
    display: table-cell;
    border: 1px solid;
    overflow: auto;
}

.SongView {
    display: table-row
}

.SongPatternEditSelectView {
    vertical-align: top;
    display: table-cell;
    border: solid 2px;
    padding: .25em;
}

.SongPatternEditNameSelectorView {
    padding: .25em;
    width: 12em;
    border: 1px solid;
}

.SongPatternEditSelectNameView {
    padding: .1em;
}

.SongPatternEditSelectNameSelectedView {
    background-color: orange;
}

.SongPatternEditSelectButtonsView {
    float: right;
}

.PatternView {
    width: 100%;
}

.PatternEditView {
    overflow: auto;
    overflow-y: hidden;
    border: 1px solid;
}

.PatternModeLineView {
    border: 2px solid;
}

.TinyButton {
    padding-right: .2em;
    padding-left: .2em;
    text-align: center;
    display: inline-block;
}

.Button {
    padding-right: .5em;
    padding-left: .5em;
    text-align: center;
    display: inline-block;
}

.ButtonEnabled {
    background-color: red;
}

.ButtonDisabled {
    background-color: transparent;
}

.ChannelSelected {
    background-color: orange;
}

.ChannelControlsView {
    text-align: center;
}

.ChannelCloseButton {
    padding-left:  2em;
}

.ChannelTitleView {
    border: 1px solid;
}

.NoteViewHighlight {
    background-color: lightblue;
}

.NoteViewSelected {
    background-color: green;
}

.NotePitchView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteFxView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteArgView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.NoteInstrumentView {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

.MinibufferEditorView {
    background-color: transparent;
}

.MinibufferView {
    border: 2px solid;
}

.AppView {
    margin: auto;
}

